<p id="notice"><%= notice %></p>

<p>
  <strong>Checkhsum:</strong>
  <%= @archive.checkhsum %>
</p>

<p>
  <strong>Lines:</strong>
  <%= @archive.lines %>
</p>

<p>
  <strong>Attachment:</strong>
  <%= @archive.attachment_url %>
</p>

<p>
  <strong>Attachment:</strong>
  <%= @archive.transactions_out %>
</p>


<%= link_to 'Edit', edit_archive_path(@archive) %> |
<%= link_to 'Back', archives_path %>
