<p id="notice"><%= notice %></p>

<div class="card">
    <h2>Trasações</h2>
    Operações da loja "<%= @store.name %>"
    <br/>
    Dono <%= @store.owner%>

    

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Operação</th>
        <th>Data</th>
        <th>Hora</th>
        <th>Valor</th>
        <th>Cartão</th>
        <th>Arquivo</th>
      </tr>
      
    </thead>

    <tbody>
      <% @transactions.each do |t| %>
        <tr>
          <td><%= t.type_transaction.description%></td>
          <td><%= t.event_time.strftime("%H:%M:%S")%></td>
          <td><%= t.event_time %></td>
          <td><%= t.type_transaction.sign%><%= t.value %></td>
          <td><%= t.card %></td>
          <td><%= t.archive.id %></td>
        </tr>
      <% end %>
    </tbody>
    <tfoot>
    <tr>
      <td><strong>Total</strong></td>
      <td><strong><%= @store.saldo.to_d.round(2, :truncate).to_f%></strong></td>
    </tr>
  </tfoot>
  </table>
</div>

<%= link_to 'Voltar', archives_path %>
